.u-section-1 {
    background-image: linear-gradient(to bottom, #11998e, #38ef7d);
}

.u-section-1 .u-sheet-1 {
    min-height: 651px;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 551px;
}

.u-section-1 .u-container-layout-1 {
    padding: 40px 25px;
}

.u-section-1 .u-text-1 {
    letter-spacing: normal;
    font-family: Barlow;
    font-weight: 700;
    font-size: 3rem;
    text-transform: none;
    margin: 46px 0 0;
}

.u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin: 33px 78px 0 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    margin: 20px auto 0 0;
    padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
    min-height: 551px;
    background-image: url("images/ForWebsite041.png");
}

.add-swing {
    /* background: none; */
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 0 30px 40px;
}

.u-section-1 .u-image-2 {
    width: 60px;
    height: 60px;
    margin: 0 auto 0 356px;
}

.u-section-1 .u-image-3 {
    width: 60px;
    height: 60px;
    margin: -73px auto 0 176px;
}

.u-section-1 .u-image-4 {
    width: 60px;
    height: 60px;
    margin: 0 20px 0 auto;
}

.u-section-1 .u-image-5 {
    width: 60px;
    height: 60px;
    margin: -37px auto 0 104px;
}

.u-section-1 .u-image-6 {
    width: 60px;
    height: 60px;
    margin: -77px auto 0 -10px;
}

.u-section-1 .u-image-7 {
    width: 60px;
    height: 60px;
    margin: 47px 46px 0 auto;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 440px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 454px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 0;
    }

    .u-section-1 .u-image-1 {
        background-position: 50% 50%;
        min-height: 501px;
    }

    .u-section-1 .u-image-2 {
        margin-top: -13px;
        margin-right: 100px;
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 334px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-image-1 {
        min-height: 384px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
    }

    .u-section-1 .u-image-2 {
        margin-right: 158px;
        margin-left: 306px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 561px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
    }

    .u-section-1 .u-image-1 {
        min-height: 524px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 385px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-image-1 {
        min-height: 330px;
    }

    .u-section-1 .u-image-2 {
        margin-top: -30px;
        margin-right: 13px;
        margin-left: auto;
    }

    .u-section-1 .u-image-3 {
        margin-top: -60px;
        margin-right: 106px;
        margin-left: auto;
    }

    .u-section-1 .u-image-4 {
        margin-top: 10px;
        margin-right: 17px;
    }

    .u-section-1 .u-image-5 {
        margin-top: -110px;
        margin-left: 64px;
    }

    .u-section-1 .u-image-6 {
        margin-top: -10px;
    }

    .u-section-1 .u-image-7 {
        margin-top: 7px;
        margin-right: auto;
        margin-left: 270px;
    }
}
